

.container{
    background-image: url("../public/wall.jpg");
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.login-card{
    background-color: var(--light-green);
    border: 1px solid black;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: white;
}

.login-card h1{
    margin-bottom: 30px;
}

.login-card input{
    margin-bottom: 15px;
}

.login-card label{
    margin-right: 10px;
}

.input-card{
    width: 250px;
    display: flex;
    justify-content: flex-end;
}

.login-card button{
    width: 100px;
    height: 30px;
    font-size: 20px;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    margin-top: 32px;
    color: white;
    border: 1px solid black;
}