.main{
    background-image: url("../public/pizza.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#system-time{
    font-size: 12px;
}

#quote{
    background-color: var(--pasta);
    width: 90%;
    padding: 10px;
    border-radius: 12px;
}

#pesquisa-google{
    width: 90%;
}
