#system-time{
    font-size: 12px;
}

#quote{
    background-color: var(--light-green);
    width: 90%;
    padding: 10px;
    border-radius: 12px;
}

#pesquisa-google{
    width: 90%;
}

/* Barra de pesquisa */
.gsc-control-cse-pt-BR{
    background-color: var(--light-green) !important;
    width: 700px !important;
    border-color: var(--light-green) !important;
    border-radius: 12px;
}

/* Ícone da lupa */
.gsc-search-button-v2{
    background-color: var(--green) !important;
    border-color: white !important;
    border-radius: 6px !important;
}

