<<<<<<< HEAD
.main{
    background-image: url("../public/pizza.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

=======
>>>>>>> parent of 978fa8a (design)
#system-time{
    font-size: 12px;
}

#quote{
    background-color: var(--pasta);
    width: 90%;
    padding: 10px;
    border-radius: 12px;
}

#pesquisa-google{
    width: 90%;
}
<<<<<<< HEAD
=======

/* Barra de pesquisa */
.gsc-control-cse-pt-BR{
    background-color: var(--light-green) !important;
    width: 700px !important;
    border-color: var(--light-green) !important;
    border-radius: 12px;
}

/* Ãcone da lupa */
.gsc-search-button-v2{
    background-color: var(--green) !important;
    border-color: white !important;
    border-radius: 6px !important;
}

>>>>>>> parent of 978fa8a (design)
