
.gallery > img:nth-child(1) {
    clip-path: polygon(50% 50%, calc(50%*var(--_i,0)) calc(120%*var(--_i,0)), 0 calc(100%*var(--_i,0)), 0 0, 100% 0, 100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
    --_y: calc(-1*var(--g));
}

.gallery > img:nth-child(2) {
    clip-path: polygon(50% 50%, calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)), calc(100% - 100%*var(--_i,0)) 0, 100% 0, 100% 100%, calc(100% - 100%*var(--_i,0)) 100%, calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: var(--g);
}
.gallery > img:nth-child(3) {
    clip-path: polygon(50% 50%, calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)), 100% calc(100% - 120%*var(--_i,0)), 100% 100%, 0 100%, 0 calc(100% - 100%*var(--_i,0)), calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
    --_y: var(--g);
}
.gallery > img:nth-child(4) {
    clip-path: polygon(50% 50%, calc(120%*var(--_i,0)) calc(50%*var(--_i,0)), calc(100%*var(--_i,0)) 0, 0 0,0 100%, calc(100%*var(--_i,0)) 100%, calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: calc(-1*var(--g));
}

